:root {
    --red: #da1007;
}

/* Design overrides made by the vertical products team - Avoid changing these if possible */

/* Colour overrides to make the contrast WCAG 2.1 compliant */

.fb-container .highlight,
.fb-container cite,
.fb-container .btn--link,
.fb-container .btn-toggle,  
.fb-container .tags__item,
.fb-container .module-filter__facets-link span {
    color: var(--red);
}

.fb-container .btn {
    background-color: var(--red);
}

/* Increased the font on large viewports */
@media only screen and (min-width: 1025px) {
    html {
        font-size: 0.875rem;
    }
}

/* Generic overrides to get the styling to work */
.fb-container {
    padding-bottom: 0;
    overflow: initial;
}

.fb-container .float-right {
    float: right;
}

.fb-container .list-unstyled {
    list-style: none;
}

.fb-container .btn {
    cursor: pointer;
    border: none;
}

.fb-container cite {
    overflow-wrap: anywhere;
}

/**
  * Initial search form
  **/ 

/* 
    Adjust the presentation of the initial search form so that
    a white bar does not appear.
*/
@media only screen and (min-width: 1025px) {
    .fb-container .initial-search-form .module-search--bg {
        padding-bottom: 15rem;
        padding-top: 15em;
    }
    
    .fb-container .initial-search-form .content-wrapper--col {
        margin-top: 0;
    }  
}

/** 
 * Facets 
 **/

/* Ensure there is always some margin after facets */

.fb-container .module-filter {
    margin-bottom: 1.25em;
}

/* Add support for radio boxes and check boxes */
.fb-container .module-filter--dark .module-filter__facets-link.round::after {
    border-radius: 50%;
}

.fb-container .module-filter--dark .module-filter__facets-link.square::after {
    border-radius: 0;
}

/* Ensure that outline is displayed for accessibility */
.fb-container .btn-toggle:focus {
    outline: revert;
}    

/* Clear all link which will remove all selected categories for the current facet */
.fb-container .module-filter__facets-clear_all_link {
    color: var(--red);;
    font-size: 1rem;
}

.fb-container .module-filter__facets-clear_all_link::after {
    display: none;
}

/* Facet breadcrumb */
.fb-container .search-results__total {
    float: none;
}

.fb-container .filter-list__title {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.fb-container .filter-list__list {
    margin: 1.5rem 0 0 0;
}

.fb-container .module-filter__list, .fb-container .module-filter__wrapper-mobile {
    width: 100%;
}

.fb-container .module-az__item {
    width: inherit;
    min-width: 3.4375rem;
    text-transform: uppercase;
}

.fb-container .module-az__link,
.fb-container .module-az__item > span {
    padding: 1rem;
}

/** 
  * Search tools 
  **/

.fb-container .search-results__tools {
    overflow: visible;
}

/* Increased the color contrast to meet accessibility standards */
.fb-container .dropdown-list__link {
    color: rgba(0,0,0,0.6);
}

/* Ensure that outline is displayed for accessibility */
.fb-container .dropdown-list__link:focus {
    outline: revert;
}    

@media only screen and (min-width: 1025px){
    .fb-container .content-wrapper--col .search-results__tools {
        margin-bottom: 2rem;
    }
}


@media only screen and (max-width: 768px) {
    .fb-container .search-results__tools-right {
        float: none;
        width: 100%;
        padding-top: 1em;
    }

    .fb-container .dropdown-list {
        margin-bottom: 1.5em;
        width: 100%;
    }
    
    .fb-container .dropdown-list__link {
        width: 100%;
    }    
}

/**
  * Tabs 
  **/

.fb-container .tabs__item .fas,  
.fb-container .tabs__item .fab, 
.fb-container .tabs__item .far {
    margin-right: 0.5rem;
}

/* Dropdown in tab navigation */

/* 
    Make the overflow visible so that the tab dropdown
    is displayed correctly.
*/

@media only screen and (min-width: 1028px)  {
    .fb-container .tabs__item.dropdown,
    .fb-container .tabs__list,
    .fb-container .tabs {
        overflow: visible;
        overflow-y: visible;
    }
}

.fb-container .dropdown__toggle:hover,
.fb-container .dropdown__toggle:focus-within {
    cursor: pointer;
}

.fb-container .dropdown_menu {
    list-style: none;
    background: rgba(0,0,0,0.8);
    color: #fff;
    opacity: 0;
    min-width: 5rem;
    padding: 0;
    margin-left:0.625rem;
    position: absolute;
    visibility: hidden;
    display: none;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.fb-container .dropdown__toggle:hover > ul,
.fb-container .dropdown__toggle:focus-within > ul,
.fb-container .dropdown__menu:hover,
.fb-container .dropdown__menu:focus {
    visibility: visible;
    opacity: 1;
    display: block
}


.fb-container .dropdown__item {
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    padding: 1rem 2rem;
    width: 100%;
}

.fb-container .dropdown__item:hover,
.fb-container .dropdown__item:focus-within {
    background:var(--red);
    cursor: pointer;
}

.fb-container .dropdown__item.disabled {
    background: inherit;
    pointer-events: none;
}

.fb-container .dropdown__item.active {
    background-color:var(--red);
    opacity: 0.9;
}

.fb-container .dropdown__item a {
    outline: none;
    text-decoration: none;
    color: #fff;
}

.fb-container .dropdown__item.disabled a {
    color: #8f8d8d;
}


/* Prevent the search tier from appearing next to a card in card view */
.fb-container .search-tier {
    flex-basis: 100%;
}

.module-curator__title + cite {
    margin: 0 1.8125rem .3125em 1.8125rem;
}

.fb-container .search-results__icon--red {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
    color: var(--red);
}



/**
  * Curator 
  **/

.fb-container .module-curator {
    position: relative;
}

/* .fb-container .module-curator::after {
    background: transparent linear-gradient(90deg, transparent 10%, #fff 100%) no-repeat;
    background-color: transparent;
    background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,0.001) 10%, #f0f0f0 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    z-index: 2;
} */

.fb-container .module-curator__list {
    overflow-y: hidden;
    overflow-x: auto;
}

.fb-container .module-curator__item {
    min-width: 20rem;
}

/**
  * Pagination 
  **/

/* Add a padding at the bottom so that footer is not so close */
@media only screen and (min-width: 1025px) {
    .fb-container .pagination {
        margin: 2.8125rem 0 2.8125rem 0;
    }
}

/**
  * Contextual Navigation 
  **/

/* Add a padding at the bottom so that footer is not so close */
@media only screen and (min-width: 1025px) {
    .fb-container .related-links {
        margin: 2.8125rem 0 2.8125rem 0;
    }
}

/**
  * Blending 
  **/

.fb-container .search-blending {
    margin-left: 0rem;
}

@media only screen and (min-width: 1025px) {
    .fb-container .search-blending {
        margin-left: 1.25rem;
    }
}

/**
  * Results 
  **/

@media only screen and (min-width: 950px) {
    .fb-container .content-wrapper--col .search-results__item:nth-child(-n+4) {
        margin-top: 0;
    }
}

.fb-container .search-results__list--list-view .search-results__desc {
    display: inherit;
}

.fb-container .search-results__content {
    flex-direction: column;
    flex-wrap: nowrap;
}

.fb-container .search-results__bottom {
    box-sizing: border-box;
}

/* Twitter */

.fb-container .search-results__item--twitter {
    flex-wrap: wrap;
}

.fb-container .tags.hashtag {
    margin-top: 1rem;
}

.fb-container .tags.hashtag .hashtag__link{
    color: var(--red);
    text-decoration: none;
}


/**
  * Sessions 
  **/

.fb-container #search-cart, .fb-container #search-history {
    min-height: 12rem;     
}  

@media only screen and (min-width: 1025px) {
    .fb-container #search-cart, .fb-container #search-history {
        -webkit-box-flex: 0;
        flex-basis: 100%;
        margin: 0 auto;
        min-height: 16rem;
        max-width: calc( 100% - 24.875rem);
        width: calc( 100% - 24.875rem);
        padding-top: 4rem;        
    }     
}

.fb-container .initial-search-form .result-sessions__controls {
    display: none;
}

/* 
    Presentation for the back to results link for both the cart
    and the click and search history.
*/
.fb-container #flb-cart-box-back, .fb-container .session-history-hide {
    color: var(--red);
    cursor: pointer;
    text-decoration: underline;    
    border: none;
}

.fb-container .flb-cart-box-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.fb-container #flb-cart-box-header {
    font-size: 1.5625rem;
    color: #000;
}

/* Remove the padding introduced by the <ul> element. */
.fb-container ul#flb-cart-box-list {
    padding-left: 0;
}

/* 
    Change the style of the button which removes items from
    the cart from a button to a link.
*/
.fb-container #search-cart .flb-cart-item-trigger {
    border: none;
    background: none;
    color: var(--red);
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

/* 
    Change the style of the button which adds and removes 
    things from the cart from a button to a link
*/
.fb-container .search-results__item .flb-cart-item-trigger {
    border: none;
    background: none;
    cursor: pointer;
}

/* 
    Remove the "ad" icon before search history due to the markup
    being borrowed from curator.
*/
.fb-container #search-history .module-curator__desc::before {
    display: none;
}


.fb-container .result-sessions__controls {
    background-color: rgba(255,255,255,0.6);
    padding: 1rem;
    border-radius: 1em;
    float: right;
    margin-top: 1rem;
    color: black;
}

/* 
    Style both cart and click and search history toggles
    as normal links instead of buttons.
*/
.fb-container .result-sessions__controls a, 
.fb-container .result-sessions__controls button {
   margin: 0.5rem;
   color: black;
   cursor: pointer;
   text-decoration: underline;  
   background: none;
   border: none;
}

/* Grouping results */
.fb-container .search-results__group-label,
.fb-container .search-results__group-see-more-label {
    width: 100%;
    margin: 1rem;
    margin-left: 2.1875rem;
    text-decoration: none;
    display: block;
}

.fb-container .search-results__group-see-more-label {
    text-align: right;
    padding-right: 2.1875rem;
}
