
/* Implementation specific overrides should be added below */


/* Design overrides made by the vertical products team - Avoid changing these if possible */
.fb-container {
    /* padding-bottom: 0; */
}

@media only screen and (min-width: 1025px) {
    .fb-container .initial-search-form .module-search--bg {
        padding-bottom: 15rem;
        padding-top: 15em;
    }
}

.fb-container .search-tier {
    width: 100%;
}

.module-curator__title + cite {
    margin: 0 1.8125rem .3125em 1.8125rem;
}

.fb-container .search-results__icon--red {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
    color: #e42b12;
}

/* Concierge */

@media only screen and (min-width: 1025px) {
    .fb-container .module-search--bg .tt-dataset-planning_applications,
    .fb-container .module-search--bg .tt-dataset-cemetery {
        display: -webkit-box;
        display: flex;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        flex-wrap: wrap;
        max-width: 50%;
        width: 50%;
    }

    .fb-container .module-search--bg .tt-category {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
    }
}